
@{
    ViewBag.Title = "FailureView";
    Layout = "~/Views/Shared/_LayoutPageHome.cshtml";
}

<div style="display: inline-block; width:100%;height:800px" class="alert alert-danger" role="alert">
    <div style=" text-align: center; display: flex; flex-direction: column; align-items: center; padding-top: 20%;">

        <h3 style="margin-bottom:40px">Đặt hàng không thành công</h3>
        <a href="~/Cart/LichSuDatHang"><button class="btn btn-outline-light btn-dark">Xem lịch sử đơn hàng</button></a>
    </div>

</div>


